body {
    height: 100vh;
    width: 100vw;
    font-family: "Victor Mono", monospace, serif;
}
.btn {
    background-color: aqua;
    color: black;
}

.btn:hover {
    background-color: royalblue;
}

.navbar {
    width: 100%;
    background: darkblue;
}

.navbar-collapse {
    flex-grow: 0;
}

.options {
    background-image: url(https://images.pexels.com/photos/2803247/pexels-photo-2803247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background: black;
}

.navbar-toggler {
    background-color: rgba(0, 0, 255, .2);
    box-shadow: 0px 0px 10px 5px aqua;
}

.fa-magnifying-glass {
    font-size: 5vh;
    color: aqua;
}

.emails {
    /* background: royalblue; */
    background-image: url(https://images.pexels.com/photos/2803247/pexels-photo-2803247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.compose{
    flex-direction: column;
    /* background: rgb(49, 5, 121); */
    background: black;
}

nav {
    flex-direction: row;
}

.navbar-contents {
    background: darkblue;
}

.compose-header {
    color:aqua;
}

.composition-box {
    flex-direction: column;
}

.menu-item {
    color:aqua;
    width:130px;
    text-align: center;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 255, .2);
    list-style: none;
}

.menu-item:hover {
    color:white;
    box-shadow: 0px 0px 10px 10px rgba(0, 255, 255, 0.5);
}

.menu-item:active {
    color:white;
    box-shadow: 0px 0px 10px 10px rgba(0, 255, 255, 0.9);
}

.send-options {
    flex-direction: row;
}

.send-button {
    width:100px;
}

.email {
    background-color: rgba(0, 0,0, 0.568);
    width:150px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 255, .2);
    margin: 25px 0px 10px 0px;
    padding: 5px 5px 5px 5px;
}
.email:hover {
    background-color: rgba(0, 0,0, 0.7);
    box-shadow: 0px 0px 10px 5px rgba(0, 170, 255, 0.729);
}

.email:active {
    box-shadow: 0px 0px 10px 10px rgba(0, 170, 255, 1);
}

.site-name-logo {
    font-size: 3vh;
    font-family: "Agdasima", sans-serif;
    color: rgb(88, 147, 255);
    width: 120px
}

.magnify-button {
    background: none;
    border: none;
}

.magnify-button:active {
    display: none;
}

.dropdown-item {
    width:20px;

}

.nav-item {
    font-size: 14px;
    margin: 0 5px 0 8px;
}

h6 {
    font-size: 0.9em;
}

input[id="username"] {
    text-align: right;
}

.message-container {
    border: 2px solid aqua;
    padding: 10px;
}

.profile-pic {
    font-size: 50px;
    color: aqua;
    border: 3px solid aqua;
    width:65px;
    height:65px;
    border-radius: 50%;
    margin-right: 20px;
}

.message-deets-highlighted {
    scale: 75% 75%;
    transform-origin: left;
}